* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Arial', 'sans-serif';
}

h1 {
	text-align: center;
}

.eButtons {
	display: block;
	margin: 20px auto;
	width: 670px;
}
.eButtons2 {
	display: block;
	margin: 10px auto;
	width: 100px;
}
.container {
	margin: 0px auto;
	display: block;
	width: 960px;
	height: 960px;
	font-size: 0px;
}

.square {
	margin: 0px;
	background-color: black;
	display: inline-block;
}